# Project
build
reports
cache

# Strategy config
configs/*.json

# Indicators data
data/**/*_indicators.csv

# Debug
run_training.dSYM/
run_tests.dSYM/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Mac OS
.DS_Store

# VS Code
.vscode

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
